:root {
    font-size: 1rem;
  
    --ivory: #fffefb;
    --skyBlue: #71c4ef;
    --darkCerulean: #00668c;
    --almostBlack: #1d1c1c;
    --lightGray: #cccbc8;
    --charcoal: #3b3c3d;
    --powderBlue: #d4eaf7;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .card {
    margin: 30px 0;
    padding: 20px;
    border: 1px solid #3d0042;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .username {
    font-weight: bold;
  }

  .post-text {
    margin-top: 10px;
    color: #343a40;
  }
  
  .profile-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(135deg, #6b47ff, #ff6b6b);;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  .post {
    border-radius: 9px;
    background-color: #505152;
  }

  .user-name {
    color: white;
  }

  .user-email {
    color: white;
  }
  
  .header {
    text-align: center;
    color: white;
  }
  
  .title {
    text-align: center;
    margin-bottom: 30px;
    color: white;
  }

.post::placeholder {
  color: white;
}
  
  .profile-header {
    text-align: center;
  }
  
  .profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile-posts {
    margin-top: 20px;
  }
  
  .post {
    border: 1px solid #3d0042;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
  }
  

  hr.break {
    border: 2px solid #3d0042;
    border-radius: 3px;
  }

  hr.break2 {
    border: 2px solid #3d0042;
    border-radius: 3px;
  }
